streamlit
pandas
sqlalchemy
mysql-connector-python
yfinance
requests-cache
curl_cffi
plotly
scikit-learn
xgboost
prophet
tensorflow
langchain
langchain-google-genai
langchain-chroma
chromadb
hmmlearn
protobuf==4.25.3

