streamlit
pandas
sqlalchemy
mysql-connector-python
yfinance
requests-cache
curl_cffi
plotly
scikit-learn
xgboost
prophet
langchain
langchain-google-genai
langchain-chroma
chromadb
hmmlearn
tensorflow-cpu==2.16.1
protobuf==4.25.3
